
/*****************************NAV******************************/
.navigation {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 1;
  height: 100px;
}
.navigation .active {
  text-decoration: underline !important;
}
#nav-name-div {
  text-align: center;
}
#nav-name {
  font-size: 22px;
}

a {
  text-decoration: none !important;
  color: black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}
/*****************************General******************************/
body {
  font-family: 'Kanit', sans-serif;
}
body {
 /*background-image: url("../img/moon.jpg");
 background-repeat: no-repeat;
 background-size: cover;*/
}
.content {
  margin: 5%;
  margin-top: 100px;
}
.footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: lightgray;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}
/*****************************Main******************************/

/*****************************Works******************************/

#works-button:hover + #works-menu, #works-button:active + #works-menu, #works-button:focus + #works-menu {
  display: block;
}
#works-button {
  cursor: default;
  margin-bottom: 0px;
}
.works h2 {
  font-weight: 800;
  text-align: center;
}
.works h5 {
  font-weight: 800;
  text-align: center;
}
.works .piece p {
  text-align: center;
}
/*.works .series p {
  text-align: left;
}*/
img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.piece {
  margin-top: 25px;
  margin-bottom: 25px;
}
#works-menu {
  display: none;
  background-color: white;
  padding: 8px;
}
#works-menu:hover{
  display: block;
}
#works-menu a {
  display: block;
  margin: 5px;
}
#works-menu img {
  display: inline-block;
  width: 16px;
  vertical-align: -webkit-baseline-middle;
}
.series-description {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 25px;
  padding-bottom: 35px;
}

/*****************************Bio******************************/
.bio {
  text-align: center;
}

/*****************************Contact******************************/
.contact h4 {
  text-align: center;
  padding-top: 30px;
}
.contact p {
  text-align: center;
  padding-top: 10%;
}
.copyright-p {
  text-align: center;
  margin-top: 70px;
}

/*****************************Media Queries******************************/
@media (max-width: 767px) {
  #nav-name-div {
    margin-bottom: 10px;
  }
  #works-menu {
    min-width: max-content;
  }
  .works .series-description {
    margin-left: 5%;
    margin-right: 5%;
  }

}
